@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Spartan", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: all 250ms ease;
}

a:hover {
    color: rgb(163, 163, 163);
}

navbar {
    display: flex;
    gap: 30px;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 0px 15px;
}

.home-btn,
.add-product,
.edit-product {
    padding: 14px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.25s ease, opacity 0.25s ease;
}

.inventory-buttons {
    display: flex;
    gap: 12px;
    padding: 30px 0px 0px 30px;
}
.home-btn:hover,
.add-product:hover,
.edit-product:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}

.home-btn:active {
    transform: scale(0.97);
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
}

.stats-container,
.plots-container {
    margin: 0px 25px;
}

.sales-plot,
.users-plot {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
}

.stat {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

table {
    border-spacing: 0;
    justify-self: center;
}

th {
    padding: 10px;
}

th {
    border-bottom: 1px solid black;
}

tr {
    border-spacing: 10px;
}

td {
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
}

.complete-btn,
form > button,
.delete-btn {
    padding: 8px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.25s ease, opacity 0.25s ease;
}

input {
    height: 25px;
    border-radius: 8px;
    border: 1px solid black;
}

#imagen {
    border: none;
    border-radius: 0px;
}

fieldset {
    border-radius: 12px;
    border-color: #eeeded;
}

form > button {
    max-width: 150px;
    align-self: center;
}

.complete-btn:hover {
    transform: translateY(-5px);
}

.delete-btn:hover {
    transform: scale(1.1);
    background-color: red;
}

form > button:hover {
    transform: scale(1.03);
}

.completed {
    color: rgb(0, 145, 0);
}

.prod-img {
    border-radius: 8px;
    transition: transform 0.5s ease;
    cursor: zoom-in;
}

.prod-img:active {
    transform: translateX(-400px) scale(5);
}

.add-product-modal {
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
}

.product-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-basic,
.product-details,
.more-product-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 500px;
}
