/* PAGOOOOOOOO*/

body{
    margin-top: 50px;
    margin-bottom: 50px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 420px;
    margin: auto;
    background: #fff;
    padding: 28px;
    border-radius: 14px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
    font-family: "Inter", sans-serif;
}

fieldset {
    border: none;
    padding: 0;   
    margin: 0;    
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}



label {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin-bottom: 4px;
    display: block;
}

input {
    width: 100%;
    padding: 11px;
    background: #f8f8f8;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.25s ease;
}


input:hover {
    border-color: #000;
    background: #fff;
}


input:focus {
    outline: none;
    border-color: #000;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.15);
    background: #fff;
}


.contact-num,
.contact-name,
.card-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
}


.billing-address,
.payment-info {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


.billing-address-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
}


.billing-address-details label {
    margin-bottom: 4px !important;
}

.billing-address-details input {
    margin: 0 !important; 
}


.billing-address-details label:nth-of-type(1),
.billing-address-details input:nth-of-type(1) {
    grid-column: 1;
}

.billing-address-details label:nth-of-type(2),
.billing-address-details input:nth-of-type(2) {
    grid-column: 2;
}

.billing-address-details label:nth-of-type(3),
.billing-address-details input:nth-of-type(3) {
    grid-column: 1;
}

.billing-address-details label:nth-of-type(4),
.billing-address-details input:nth-of-type(4) {
    grid-column: 2;
}


button {
    width: 100%;
    padding: 14px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.25s ease, opacity 0.25s ease;
}


button:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}


button:active {
    transform: scale(0.97);
}
